SMART HEALTH PROJECT/node red pro code.txt
[{"id":"90fa61c6.a4df8","type":"tab","label":"SMART HEALTH PROJECT","disabled":false,"info":""},{"id":"af6cde41.29688","type":"ibmiot in","z":"90fa61c6.a4df8","authentication":"apiKey","apiKey":"3904513.65e32ae","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"skm1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":129,"y":69,"wires":[["98299895.fa65c8","90f3b2c.13a125"]]},{"id":"98299895.fa65c8","type":"function","z":"90fa61c6.a4df8","name":"pulse sensor","func":"msg.payload=msg.payload.Pulsesensor\nglobal.set(\"Pulsesensor\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":330.00000381469727,"y":80.6000623703003,"wires":[["5dd58339.29bdcc","396cdcf8.5f2e34"]]},{"id":"90f3b2c.13a125","type":"function","z":"90fa61c6.a4df8","name":"Temperature","func":"msg.payload=msg.payload.Temperature\nglobal.set(\"Temperature\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":173,"wires":[["5dd58339.29bdcc","b95e1223.56608"]]},{"id":"5dd58339.29bdcc","type":"debug","z":"90fa61c6.a4df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":576.5,"y":84,"wires":[]},{"id":"396cdcf8.5f2e34","type":"ui_gauge","z":"90fa61c6.a4df8","name":"","group":"d2538a9b.f90a58","order":5,"width":0,"height":0,"gtype":"gage","title":"pulse","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":696.5,"y":165,"wires":[]},{"id":"b95e1223.56608","type":"ui_gauge","z":"90fa61c6.a4df8","name":"","group":"d2538a9b.f90a58","order":6,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":707.5000114440918,"y":242.00000286102295,"wires":[]},{"id":"da69b9a7.ac6a38","type":"http in","z":"90fa61c6.a4df8","name":"","url":"/skm","method":"get","upload":false,"swaggerDoc":"","x":96,"y":209,"wires":[["445c4091.f8266"]]},{"id":"445c4091.f8266","type":"function","z":"90fa61c6.a4df8","name":"","func":"msg.payload={\"Temperature\":global.get(\"Temperature\"),\"Pulsesensor\":global.get(\"Pulsesensor\")}\nreturn msg;","outputs":1,"noerr":0,"x":345.5,"y":246,"wires":[["2d7f3c4c.049364"]]},{"id":"2d7f3c4c.049364","type":"http response","z":"90fa61c6.a4df8","name":"","statusCode":"","headers":{},"x":476,"y":248,"wires":[]},{"id":"3904513.65e32ae","type":"ibmiot","z":"","name":"skm","keepalive":"60","serverName":"2rak5d.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d2538a9b.f90a58","type":"ui_group","z":"","name":"shruthi","tab":"4978a0df.bf418","disp":true,"width":"6","collapse":false},{"id":"4978a0df.bf418","type":"ui_tab","z":"","name":"guptha","icon":"dashboard","disabled":false,"hidden":false}]